/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

h2.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  font-weight: 700;
  font-family: "Mulish";
  color: #fff;
  margin-bottom: 45px;
}
h2.section-title::before {
  content: "";
  display: block;
  width: 35px;
  height: 8px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 50px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header .container {
  padding: 15px 80px 15px 80px;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 366px;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
}

.site-nav__item:not(:last-child) {
  margin-right: 54px;
}

.site-nav__link {
  color: #FFFFFF;
  opacity: 0.5;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: aqua;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--home {
  color: #FFFFFF;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-nav__icon-search {
  width: 18px;
  height: 18px;
  fill: #FFFFFF;
}
.user-nav__icon-bell {
  width: 20px;
  height: 20px;
}
.user-nav__icon-add {
  width: 18px;
  height: 19px;
}

.logo {
  font-family: "Lemon";
  font-weight: 400;
  font-size: 40px;
  line-height: 0px;
  color: #FFFFFF;
  position: absolute;
  bottom: 35px;
  left: 15px;
}

.logo-wrapper {
  position: relative;
  margin-right: 14px;
}

.logo-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  line-height: 0px;
  color: #FFFFFF;
}

.user-nav {
  margin-left: 320px;
}
.user-nav__item:not(:last-child) {
  margin-right: 75px;
}

.site-nav__link--home {
  position: relative;
}

.logo-header {
  display: block;
}

.site-nav__link--home::after {
  position: absolute;
  content: "";
  display: block;
  width: 46px;
  height: 2px;
  bottom: -5px;
  left: 0px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 50%;
}

.hero__title {
  font-family: "Marcellus";
  width: 532px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.1;
  color: #FFFFFF;
}
.hero__film-info {
  padding-top: 122px;
  width: 560px;
  padding-right: 29px;
  padding-bottom: 184px;
  -webkit-box-shadow: 100px 0px 100px #000000;
          box-shadow: 100px 0px 100px #000000;
  position: relative;
  z-index: 1;
}
.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero__description {
  font-family: "Mulish";
  color: #C2C2C2;
  width: 507px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 35px;
}

.hero__info-date {
  margin-right: 18px;
}

.hero__info-age {
  margin-right: 18px;
}

.hero__info-duration {
  margin-right: 41px;
}

.star {
  width: 16px;
  height: 15px;
  margin-left: 5px;
}

.hero__info-rate {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__buttons-watch {
  width: 141px;
  height: 50px;
  padding: 0 30px;
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  border: #26fff2;
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border-radius: 100px;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  position: relative;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__buttons-watch:hover, .hero__buttons-watch:focus {
  background: rgba(50, 108, 255, 0.5);
  -webkit-transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.play-icon {
  width: 14px;
  height: 18px;
}

.hero__buttons-info {
  width: 195px;
  height: 50px;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: #323232;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border: #FFFFFF;
  border-radius: 100px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__buttons-info:hover, .hero__buttons-info:focus {
  background: rgba(50, 108, 255, 0.5);
  color: #FFFFFF;
  -webkit-transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-poster {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hero .container {
  position: relative;
  overflow: hidden;
  padding-left: 85px;
}

.trend .container {
  padding-left: 80px;
  padding-right: 80px;
}

h2 a {
  color: #FFFFFF;
}
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

.trend {
  padding-top: 70px;
}
.trend__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.trend__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}
.trend__item:hover {
  -webkit-box-shadow: 0px 0px 50px blue;
          box-shadow: 0px 0px 50px blue;
}
.trend__item img {
  border-radius: 20px;
}
.trend__item:not(:last-child) {
  margin-right: 41px;
}

.movies {
  padding: 60px 0 50px;
}

.movies .container {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 68px;
}

.movies__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movies__item:not(:last-child) {
  margin-right: 41px;
}

.movies__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}
.movies__item:hover {
  -webkit-box-shadow: 0px 0px 50px blue;
          box-shadow: 0px 0px 50px blue;
}
.movies__item img {
  border-radius: 20px;
}

.button__see-more {
  width: 141px;
  height: 50px;
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border: #26fff2;
  border-radius: 100px;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 55px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button__see-more:hover, .button__see-more:focus {
  background: rgba(50, 108, 255, 0.5);
  -webkit-transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.genres {
  padding: 50px 0 30px;
}
.genres .container {
  padding: 0 80px;
}
.genres h2 a {
  font-family: "Mulish";
  color: #fff;
  cursor: pointer;
}
.genres h2 a:hover {
  text-decoration: underline;
}
.genres ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.genres li {
  max-width: 23%;
  width: 100%;
  height: 200px;
  margin-bottom: 27px;
}
.genres .link {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  color: #fff;
  padding: 45px;
  font-size: 28px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.genres .link:hover {
  -webkit-box-shadow: 0px 0px 50px blue;
          box-shadow: 0px 0px 50px blue;
}
.genres .link.romance {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}
.genres .link.drama {
  background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}
.genres .link.historical {
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}
.genres .link.action {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}
.genres .link.sci-fi {
  background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}
.genres .link.horror {
  background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}
.genres .link.comedy {
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}
.genres .link.documentary {
  background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}
.genres li p {
  margin-top: 8px;
}

.actors {
  padding: 20px 0 50px;
}
.actors .container {
  padding: 0 80px;
}
.actors h2 a {
  font-family: "Mulish";
  color: #fff;
}
.actors h2 a:hover {
  text-decoration: underline;
}
.actors ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.actors ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actors ul li div {
  max-width: 190px;
  width: 100%;
  height: 190px;
}
.actors ul li div img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.actors ul li a {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
}
.actors ul li a:hover {
  text-decoration: underline;
}

.premiere {
  padding: 50px 0 60px;
}
.premiere .container {
  padding: 0 75px;
}
.premiere .container .wrapper {
  border-radius: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
}
.premiere .container .left,
.premiere .container .right {
  width: 50%;
}
.premiere .container .left img {
  border-radius: 20px 0 0 20px;
}
.premiere .container .right {
  border-radius: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.premiere .container .right .img {
  max-width: 300px;
  width: 100%;
  height: 150px;
}
.premiere .container .right img {
  width: 100%;
  height: 100%;
}
.premiere .container .right p {
  font-size: 64px;
  font-weight: 700;
  margin-top: 30px;
  color: #fff;
  font-family: "Mulish";
}

.register {
  padding: 60px 0 120px;
}
.register .container {
  padding: 0 190px;
}
.register__info {
  overflow: hidden;
  padding: 70px 60px;
  border-radius: 20px;
  position: relative;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(336.56deg, #000000 58.12%, #FFFFFF 124.09%);
}
.register__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: url("../images/back-img.png") center/cover;
}
.register__info p {
  max-width: 800px;
  width: 100%;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  font-family: "Mulish";
  color: #fff;
  z-index: 1;
  position: relative;
}
.register__info .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50px;
  margin-left: 82px;
  padding: 0 18px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border-radius: 100px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  color: #fff;
  font-family: "Mulish";
  z-index: 1;
  position: relative;
  border: none;
}
.register__info .button:hover, .register__info .button:focus {
  background: rgba(50, 108, 255, 0.5);
  color: #FFFFFF;
  -webkit-transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background: #101012;
  padding: 70px 0 45px;
}
footer .container {
  padding: 0 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer ul:not(:last-child) {
  margin-right: 52px;
}
footer ul li {
  margin-bottom: 25px;
}
footer ul a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #C2C2C2;
  font-family: "Mulish";
  cursor: pointer;
}
footer ul a:hover {
  text-decoration: underline;
}
footer .img {
  max-width: 157px;
  width: 100%;
  height: 70px;
  margin-right: 85px;
  display: block;
  cursor: pointer;
}
footer .img img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */