footer {
	background: #101012;
	padding: 70px 0 45px;
	.container {
		padding: 0 245px;
		display: flex;
	}
	ul {
		&:not(:last-child) {
			margin-right: 52px;
		}

		li {
			margin-bottom: 25px;
		}

		a {
			font-size: 18px;
			line-height: 20px;
			font-weight: 600;
			color: #C2C2C2;
			font-family: 'Mulish';
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.img {
		max-width: 157px;
		width: 100%;
		height: 70px;
		margin-right: 85px;
		display: block;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
		}
	}
}