.trend .container {
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  margin-top: 68px;
}

.trend {
  &__title {
    font-family: "Mulish";
    margin-bottom: 47px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
    color: $basic-text-color;
    margin-left: 23px;
    &::before {
      position: absolute;
      display: block;
      top: 10px;
      left: 65px;
      content: "";
      width: 35px;
      height: 8px;
      background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
      border-radius: 50px;
      transform: rotate(-90deg);
    }
  }

  &__items {
    display: flex;
  }

  &__item img {
    border-radius: 20px;
  }

  &__item:not(:last-child) {
    margin-right: 41px;
  }
}

.trend__title--movies{
  
  font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
    color: $basic-text-color;
    margin-left: 23px;
    margin-top: 68px;
     margin-bottom: 47px;
    &::before {
      position: absolute;
      display: block;
      top: 475px;
      left: 65px;
      content: "";
      width: 35px;
      height: 8px;
      background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
      border-radius: 50px;
      transform: rotate(-90deg);
    }
}
.movies__items{
  display: flex;
}


.movies__item:not(:last-child){
  margin-right: 41px;
}


.movies__item img {
   border-radius: 20px;
}


.button__see-more {
  width: 141px;
  height: 50px;
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border:#26FFF2 ;
  border-radius: 100px;
  font-family: 'Mulish';
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 55px;
  color: #FFFFFF;

  &:hover,
  &:focus{
    background: rgba(50, 108, 255, 0.5);
    transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}