h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;

  padding-left: 0;
}
a {
  text-decoration: none;
  
}

.container {
    width: 1600px;
    margin: 0 auto;
    
}
body {
  background-color: #000;
}

h2.section-title {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Mulish';
  color: #fff;
  margin-bottom: 45px;
  &::before {
    content: '';
    display: block;
    width: 35px;
    height: 8px;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    border-radius: 50px;
    transform: rotate(-90deg);
  }
}